<app-header></app-header>
<div [class.using-directive]="chFont">
  <div class="using-directive-change">
    <button mat-fab extended (click)="changeFont()">Change Font</button>
  </div>
  <article>
    <h3>{{ title }}</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget erat
      sit amet tellus tempus congue. Nam ac risus in ex imperdiet pharetra in
      vitae nulla. Maecenas cursus consectetur rutrum. Duis quis urna turpis.
      Etiam eleifend interdum magna non porttitor. Quisque quis arcu vulputate,
      tempus arcu a, commodo orci. Nam et tincidunt justo. Orci varius natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam
      consectetur condimentum volutpat. Suspendisse potenti. Ut bibendum ex sit
      amet magna interdum, eget mattis ante placerat. In suscipit elit nec nulla
      tincidunt ultrices. Ut non viverra diam, in finibus mi. Praesent mollis
      ligula bibendum urna ultricies lacinia. Nulla volutpat, tellus ut
      facilisis gravida, ipsum erat pharetra erat, in ultrices mauris justo ut
      ipsum.
    </p>
  </article>
</div>
